<h1>Cadastro de Cliente</h1>
<form action="/teste/insertteste" method="POST" class="form">
<div class="form-control">

    <div class="form-container">
        <label for="email">Insira seu email:</label>
        <input type="email" name="email" placeholder="Dudu@yahoo.com">
    </div>    

    <div class="form-container">
        <label for="senha">Insira sua senha:</label>
        <input type="password" name="senha" placeholder="SenhaMuitoSegura#123">
    </div>
</div>
<input type="submit" value="Cadastrar">
</form>